<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/tx     
    http://www.springframework.org/schema/tx/spring-tx-4.0.xsd 
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd"
    default-lazy-init="false">
    
    <!-- 开启自动切面代理 -->
	<aop:aspectj-autoproxy />
	
	<!-- 开启注解 -->
	<context:annotation-config />
	
	<!-- mvc注解 -->
	<mvc:annotation-driven />
	<mvc:default-servlet-handler/>
	
	<!-- 使用annotation 自动注册bean -->
	<context:component-scan base-package="com.onefur.message.**" annotation-config="true" />
	
	
	<!-- 属性文件读入 -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:commonconfig.properties</value>
				<value>classpath:config.properties</value>
				<value>classpath:rabbitmq.properties</value>
			</list>
		</property>
	</bean>
	
	<!-- <import resource="applicationContext-dao.xml" /> -->
<!-- 	<import resource="applicationContext-provider.xml" /> -->
	<import resource="applicationContext-rabbitmq.xml" />
</beans>
